    $textColor:#ffa900!important;
    $siteColor:rgba(0, 0, 0, .55);
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: none;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    
    .container-fluid {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .ml_pl {
        margin: 0;
        padding: 0;
    }
    
    .top__header {
        padding: 14px 0px;
        background-color: aliceblue;
    }
    
    .site__lang {
        display: flex;
        flex: wrap;
        justify-content: flex-end;
        span {
            padding: 0px 5px;
            a {
                font-weight: bold;
                font-family: sans-serif;
                color: $textColor;
                border: 1px solid $textColor;
                padding: 5px;
                border-radius: 5px;
                background-color: #fff;
            }
        }
    }
    
    .site__contact_header {
        margin: 15px 0px;
        display: grid;
        flex-wrap: wrap;
        justify-content: flex-end;
        div {
            a {
                color: #4267B2;
                font-weight: 400;
                font-size: small;
                span {
                    margin: 10px 8px;
                    i {
                        color: $textColor;
                    }
                    border-radius: 10px;
                }
            }
        }
    }
    
    div.site_text__name {
        padding: 17px;
        text-align: center;
    }
    
    div.site_text__name a {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: rgba(0, 0, 0, .55);
    }
    
    .nav-item .font__weight__bold {
        font-weight: 600;
        text-transform: capitalize;
        font-size: small;
    }
    
    div.carousel-item {
        height: 450px;
        .carousel-caption {
            background-color: $siteColor;
            left: 10px;
            width: 45%;
            h5 {
                color: $textColor;
                font-family: sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 28px;
                text-align: left;
                padding-left: 25px;
            }
            p {
                color: #fff;
                font-style: italic;
                font-size: 18px;
                text-align: left;
                text-indent: 50px;
                padding: 15px;
            }
        }
    }
    
    div.carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .section_title {
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding: 14px;
        margin: 8px 0px;
        color: #ffa900!important;
    }
    
    .title__social {
        margin-top: 15px;
        width: 100%;
        .container {
            width: 100%;
            .bg__social {
                background-color: aliceblue;
                border-radius: 10px;
                margin: 5px 0;
                .col-md-4 {
                    div {
                        border-right: 2px solid $textColor;
                    }
                }
                .col-md-8 {
                    .sc__link {
                        height: 100%;
                        display: flex;
                        margin: 0 15px;
                        align-items: center;
                        div {
                            a {
                                display: block;
                                color: $textColor;
                                font-weight: bold;
                                font-size: 18px;
                                i.fa-telegram {
                                    margin: 0 10px;
                                    color: #22A5E4;
                                }
                                i.fa-instagram {
                                    margin: 0 10px;
                                    color: #e1306c!important;
                                }
                                i.fa-youtube {
                                    margin: 0 10px;
                                    color: #FF0000!important;
                                }
                                i.fa-facebook {
                                    margin: 0 10px;
                                    color: #4267B2 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .gallerya___section {
        padding-top: 40px;
        text-align: right;
        .gallerya_images_list {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0px;
            .gallery {
                border-radius: 10px;
                background-color: aliceblue;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px 0 !important;
                li {
                    width: 300px;
                    margin: 10px;
                    list-style-type: none;
                    display: inline-block;
                    a {
                        img {
                            width: 100%;
                            border-radius: 10px;
                            height: 300px;
                            object-fit: cover;
                            border: 3px solid $textColor;
                        }
                    }
                }
            }
        }
    }
    
    .box___img {
        width: 100%;
        height: 89px;
        border-radius: 5px;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        img {
            width: 100%;
            height: 100%;
            padding: 5px;
            object-fit: cover;
        }
    }
    
    .footer__bg {
        background-color: rgb(203, 218, 232);
        color: $siteColor;
    }
    
    @media (max-width:992px) {
        div.carousel-item {
            height: auto;
        }
        .site__contact_header {
            display: none
        }
        .logo__image {
            div.logooo a {
                display: none
            }
            .site_text__name a {
                font-size: 24px!important;
                line-height: 14px;
                color: #ffa900;
            }
        }
        .ml_pl {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        .top__header__reight {
            display: flex;
            justify-content: center;
        }
    }
    
    @media(min-width:992px) and (max-width:1200px) {
        .navbar___social {
            display: none !important;
        }
        .bg__social {
            .section_title {
                font-size: 14px !important;
            }
        }
    }
    
    .video__left_bx {
        width: 100%;
    }
    
    .plan___date___images {
        width: 100%;
        height: 350px;
    }
    
    // about page
    .breadcat__bg {
        background-color: aliceblue;
        padding: 30px 0px;
        h3 {
            font-weight: bold;
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: smaller;
        }
    }
    
    #about_left {
        padding: 15px 0px;
        p {
            padding: 15px;
        }
    }
    
    .bobbb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card_image {
            width: 100%;
            height: 90%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    // news page
    .news_image__post {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 180px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .image_team_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $textColor;
        border-radius: 5px;
        height: 200px !important;
        .box___image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: aliceblue;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    
    .carousel-indicators {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        float: right;
        button {
            width: auto;
            padding: 11px !important;
            background-color: aliceblue !important;
        }
    }