body{
    font-family: sans-serif;
    font-weight: bolder;
}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:7.840000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:56.000000px;}
.fs3{font-size:64.000000px;}
.fs4{font-size:72.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:88.000000px;}
.fs0{font-size:112.000000px;}
.y0{bottom:0.000000px;}
.yf{bottom:107.034014px;}
.ye{bottom:141.214006px;}
.yd{bottom:202.250017px;}
.yc{bottom:274.124016px;}
.yb{bottom:296.097015px;}
.ya{bottom:318.070015px;}
.y9{bottom:343.338028px;}
.y8{bottom:368.606033px;}
.y7{bottom:393.874031px;}
.y6{bottom:418.239022px;}
.y5{bottom:442.506012px;}
.y4{bottom:513.503025px;}
.y3{bottom:552.810032px;}
.y2{bottom:612.233023px;}
.y1{bottom:674.880024px;}
.h7{height:38.281250px;}
.h5{height:43.750000px;}
.h6{height:49.218750px;}
.h4{height:54.687500px;}
.h3{height:60.156250px;}
.h2{height:76.562500px;}
.h0{height:841.900024px;}
.h1{height:842.000000px;}
.w0{width:586.000000px;}
.x0{left:0.000000px;}
.xa{left:148.188000px;}
.xc{left:180.000000px;}
.x7{left:187.569000px;}
.x5{left:192.117000px;}
.x1{left:198.038000px;}
.x6{left:208.421000px;}
.x4{left:231.083000px;}
.x2{left:241.060001px;}
.x8{left:263.289001px;}
.x9{left:274.802002px;}
.x3{left:281.778000px;}
.xb{left:300.888000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:10.453333pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:85.333333pt;}
.fs4{font-size:96.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:117.333333pt;}
.fs0{font-size:149.333333pt;}
.y0{bottom:0.000000pt;}
.yf{bottom:142.712018pt;}
.ye{bottom:188.285342pt;}
.yd{bottom:269.666690pt;}
.yc{bottom:365.498688pt;}
.yb{bottom:394.796021pt;}
.ya{bottom:424.093353pt;}
.y9{bottom:457.784037pt;}
.y8{bottom:491.474711pt;}
.y7{bottom:525.165375pt;}
.y6{bottom:557.652030pt;}
.y5{bottom:590.008016pt;}
.y4{bottom:684.670700pt;}
.y3{bottom:737.080043pt;}
.y2{bottom:816.310697pt;}
.y1{bottom:899.840032pt;}
.h7{height:51.041667pt;}
.h5{height:58.333333pt;}
.h6{height:65.625000pt;}
.h4{height:72.916667pt;}
.h3{height:80.208333pt;}
.h2{height:102.083333pt;}
.h0{height:1122.533366pt;}
.h1{height:1122.666667pt;}
.w0{width:781.333333pt;}
.x0{left:0.000000pt;}
.xa{left:197.584000pt;}
.xc{left:240.000000pt;}
.x7{left:250.092000pt;}
.x5{left:256.156000pt;}
.x1{left:264.050667pt;}
.x6{left:277.894666pt;}
.x4{left:308.110667pt;}
.x2{left:321.413335pt;}
.x8{left:351.052002pt;}
.x9{left:366.402669pt;}
.x3{left:375.704000pt;}
.xb{left:401.184001pt;}
}
